header.col1.pad-b35
  a(href="/").col1-4
    img.left.mar-l-20.mar-t0(src='/images/logo_symbol_white.svg', height='50')
  h4.left.pad-lr-50.pad-tb-20
    a(href="/install") Install
  h4.left.pad-lr-50.pad-tb-20
    a(href="/docs/Slider.html") Docs
  h4.left.pad-lr-50.pad-tb-20
    a(href="/examples") Examples
  h4.left.pad-lr-50.pad-tb-20
    a(href="/download") Download
